{
	"comments": false,
	"presets": [
		[
			"@babel/preset-env",
			{
				"loose": true,
				"shippedProposals": true,
				"modules": "commonjs",
				"targets": {
					"ie": 9
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties"
	],

	"env": {
		"module": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"loose": true,
						"shippedProposals": true,
						"modules": false,
						"targets": {
							"ie": 9
						}
					}
				],
				"@babel/preset-react"
			],
			"plugins": [
				"@babel/plugin-proposal-class-properties"
			]
		}
	}
}
